/*MOBILE FIRST*/
*{
	text-transform: uppercase;
}

body{
	position: relative;
}

body::before{
  background: url("../img/login_background.jpg") no-repeat center center fixed; 
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  position:absolute; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  }
  
h1{
	margin-top:0px;
	font-family: 'Kurale', serif;
	font-weight: bolder;
}

.help-inline{
	font-size: 10px !important;
}

.content{
	min-height: 500px;
}

.clickable{
	position: relative;
}
.clickable:active{
	box-shadow: 0 3px 0 #00823F;
  	top: 3px;
}
.heightfull{
	height: 100% !important;
}
.height75{
	height: 75% !important;
}


/* On list views align the buttons to the right where the pager is*/
.footerListActionButton{
	text-align:center;
}

/*In user registration form this apply to the roles addon to style the vertical label */
#addonRolesL>p{
	margin-bottom:4px;
}

/* xxs  like iphone*/
@media screen and (max-width: 459px) {
	h1{
    	font-size:3em;
    }
	h2{
		font-size:1.3em;
	}
	h3{
		font-size:1em;
	}	
}

/* xs < 768 */
@media screen and (min-width:460px) and (max-width: 767px) {
	h1{
    	font-size:3em;
    }
	h2{
		font-size:2em;
	}
	h3{
		font-size:2em;
	}	
}

/* sm */
@media screen and (min-width: 768px) {
 	h1{
    	font-size:4em;
    }
    h2{
    	font-size:2em;
    }
    h3{
		font-size:1.5em;
	}
	.footerListActionButton{
		text-align:right;
	}
}

/* md */
@media screen and (min-width: 992px) {
    h1{
    	font-size:5em;
    }
    h2{
    	font-size:3em;
    }
    h3{
		font-size:2.3em;
	}	
}

/* lg */
@media screen and (min-width: 1200px) {
    h1{
    	font-size:6em;
    }
    h2{
    	font-size:3em;
    }
    h3{
		font-size:2.5em;
	}	
}
