.incompleteContainer{
	height:160px;
	overflow-x:scroll;
	overflow-y:hidden;
	white-space: nowrap;
	border-radius: 0 0 4px 4px;
	padding:1%;
}
.incompleteCards{
	display: inline-block;
	cursor:pointer;
	max-width:360px;
	width:20%;
	background-color: #a2c8e8;
	padding:10px;
	margin:1%;
}
.incompleteCards>p.client{
	text-align: center;
	font-weight: bolder;	
}

.views li{
	padding-left: 0% !important;
	padding-right: 0% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	width: 50%;
	float:left;
}

#divCurrentMonth{
	padding-left: 0px;
	padding-right:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}

.divBottomButton{
	text-align:right;
	padding-right: 0px;
	padding-left: 0px;	
}
.divBottomButton>button{
	border-radius: 0px 0px 0px 0px !important;
	width:100%;
}

.divTopButton{
	text-align:right;
	padding-right: 0px;
	padding-left: 0px;	
}
.divTopButton>button{
	border-radius: 0px 0px 0px 0px !important;
	width:100%;
}

#divMonthTitle>div{
	padding-left:0px;
	padding-right:0px;
}

.formAddButtonIcon{
	position:static;
	width:100%;
}

.odd{
	/*background-color:white;*/
}
.even{
	background-color:white;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

.noMinHeight, .noMinHeight:hover{
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    white-space: normal !important;
    min-height: 0px !important;
    height: auto !important;
}

.arrow{
	vertical-align: bottom;
	cursor: pointer;
}
.calendarDay:hover,
.calendarMonth:hover{
	background-color:#a2c8e8;
	border-bottom: 1px solid #337AB7;
	overflow-y:scroll;
}

.calendarMonth{cursor: pointer;}

.calendarDay,
.calendarMonth{
	height:100px;
	overflow-y:hidden;
	overflow-x:hidden;
	white-space: nowrap;
	border-radius: 0 0 4px 4px;
	position: relative;
  	float:left;
  	width:100%;	
  	min-height: 100px;
}

.calendarDay p,
.calendarMonth p{
	margin-bottom:0px;
}

.calendarDay > .dayLabel,
.calendarMonth > .monthLabel{
	background-color:#337AB7;
	margin:0px;
	width:100%;
	font-size:1.5em;
	font-weight: bold;
}

.dayNumber{cursor:pointer;}

.calendarDay > .dayNumber,
.calendarMonth > .MonthNumber{
	background-color:#89b7dd;
	font-size:1.2em;
	font-weight: 400;
}

.eventLabel > a{
	font-weight: bolder;
	color: silver;
}

.eventLabel > a:hover{
	color:white;
}


/* xxs  like iphone*/
@media screen and (max-width: 459px) {
	.calendarDay,
	.calendarMonth{
		width: 100%;
	}
	.formAddButtonIcon{
		border-radius: 0px;
		width:100% !important;
	}
}

/* xs < 768 */
@media screen and (min-width:460px) and (max-width: 767px) {
	.calendarDay,
	.calendarMonth{
		width:100%;
	}
	.formAddButtonIcon{
		border-radius: 0px;
		width:100% !important;
	}
}

/* sm */
@media screen and (min-width: 768px) {
	.calendarDay{
		width:14.285%;	
	}
	
	.calendarMonth{
		width:25%;
	}
	
	.formAddButtonIcon{
		position:absolute;
		bottom:0px;
		right:0.5px;	
		width: auto;
		border-radius: 6px 6px 0px 0px;
	}
	.divBottomButton>button{
		border-radius: 0px 0px 6px 6px;
		width:100%;
	}
		
}

/* md */
@media screen and (min-width: 992px) {
	.calendarDay{
		width:14.285%;	
	}
	
	.calendarMonth{
		width:25%;
	}
	.formAddButtonIcon{
		position:absolute;
		right:0.5px;
		right:0px;
		width: auto;
		border-radius: 6px 6px 0px 0px;	
	}
	.divBottomButton>button{
		border-radius: 0px 0px 6px 6px;
		width:100%;
	}
	
}

/* lg */
@media screen and (min-width: 1200px) {
	.calendarDay{
		width:14.285%;	
	}
	.calendarMonth{
		width:25%;
	}
	.formAddButtonIcon{
		position:absolute;
		bottom:0px;
		right:0.5px;	
		width: auto;
		border-radius: 6px 6px 0px 0px;
	}
	.divBottomButton>button{
		border-radius: 0px 0px 6px 6px;
		width:100%;
	}
}
