.statsMenu{
	
}

.statsMenu button{
	width: 100%;
}
.statsMenu select{
	width: 100%;
	position:relative;
	top:-5;
	border-radius: 0 0 6px 6px;
}

.chartTitle{
	text-align: center;
	font-size:2em;
	margin:0px;
}

.btn-lg{
	padding: 10px 0px;
}