@media only screen and (max-width: 1000px) and (min-width:581px){
  #wrapper{
  	width: 85% !important;
  }
}

@media only screen and (max-width: 581px){
  #wrapper{
  	width: 100% !important;
  }
}